.map.text {
  font-size: 10px;
}

.description-text {
  font-size: 24px;
  color: #212529;
}

.element-name {
  font-size: 19px;
}

.custom-size {
  width: 80px;
}

label.centered-label {
  display: block;
  text-align: center;
}
